<!--inicio do rodapé-->
<footer>

    <div class="container footer">
        <div class="row">

            <div class="col-md-4">
                <div class="row">
                    <img src="assets/midias/logogamemania_azul.png" alt="logo" width="50%" height="60">
                </div>

                <div class="row">
                    <p>Email:exemplo@exemplo.com.br</p>
                </div>

                <div class="row">
                    <p>Telefone: (00)9999-9999</p>
                </div>


                <div class="row">
                    <p>Endereço: Avenina ABC, 123,<br> centro. São Paulo – SP</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="row">
                    <figure>
                        <img src="assets/midias/appjpg.png" alt="linkapp" width="80%" height="100">
                        <figcaption>Siga GAME MANIA nas redes sociais.
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-4">
                <img src="assets/midias/imagespagamento.png" alt="formas de pagamento" width="100%" height="80">
            </div>
        </div>
    </div>
</footer>

<!--fim do rodapé-->
