<body>
    <header>
        <div class="row">
            <div class="container logo">
                <div class="row">
                    <div class="col align-self-start">
                        <img src="assets/midias/logogamemania_azul.png" alt="logogamemania_azul">
                    </div>

                    <div class="row align-items-center ">

                        <div class="input-group mb-3 ">
                            <input type="text " class="form-control " placeholder="O que procura? " aria-label="Recipient 's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button mat-raised-button color="warn"><i class="fas fa-search"></i>Pesquisar</button>
                                <a href="index.html "> <button mat-raised-button color="warn"><i class="fas fa-home"></i>Home</button></a>
                                <a href="login.html "> <button mat-raised-button color="warn"><i class="far fa-user "></i>Login</button></a>
                                <button mat-raised-button color="warn"><i class="fas fa-shopping-cart "></i>Carrinho</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--submenu-->
    <nav>
        <ul>
            <li><a class="flex-sm-fill nav-justified text-sm-center nav-link" href="">Todas as Categorias</a></li>
            <li><a class="flex-sm-fill nav-justified text-sm-center nav-link" href="Computadores.html">Computadores</a></li>
            <li><a class="flex-sm-fill nav-justified text-sm-center nav-link" href="Consoles.html">Consoles</a></li>
            <li><a class="flex-sm-fill nav-justified text-sm-center nav-link" href="Acessorios.html">Acessórios</a></li>
            <li><a class="flex-sm-fill nav-justified text-sm-center nav-link" href="Smartphone.html">Smartphones</a></li>
        </ul>
    </nav>
    <!--fim do submenu-->

    <!--Carrossel-->
    <!--<img src="midias/lolbanner.jpg" alt="banner" width="100%" height="400">-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/midias/lolbanner.jpg" alt="LOl" width="100%" height="300px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/midias/fifa.png" alt="fifa" width="100%" height="300px">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/midias/banerjogos.jpg" alt="Terceiro Slide" width="100%" height="300px">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <!--fim carrossel-->
    <br><br><br>

    <div class="missao">
        <h1>Nossa Missão</h1>
        <p id="missao">“Nossa Missão é inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos, entretenimento <br> e inovação, causando uma emoção inédita, criando experiências e prazeres.”</p>
    </div>

    <br><br><br>

    <!--seção produtos-->

    <!--colocar div + class-->
    <h2><i class="fas fa-star"></i>Destaques da Semana</h2>

    <br><br><br>
    <section id="produtos">
        <div class="row">

            <div id="iten-1" class="col-md-3">
                <img src="assets/midias/Amd Fx, Jogos De Computador, Intel Core.png" alt="pc gamer" width="80%" height="200">
                <h4>Pc gamer Amd Fx </h4>
                <p><b>R$ 3.999,99</b></p>
                <div id="botaocarrinho">
                    <button mat-raised-button color="warn"><i class="fas fa-shopping-cart"></i>Carrinho</button>
                </div>
            </div>

            <div id="iten-2" class="col-md-3">
                <img src="assets/midias/Cadeira, Fauteuil, Jogo.png" alt="cadeira" width="80%" height="200">
                <h4>Cadeira Gamer Fauteil</h4>
                <p><b>R$ 899,00</b></p>
                <div id="botaocarrinho">
                    <button mat-raised-button color="warn"><i class="fas fa-shopping-cart"></i>Carrinho</button>
                </div>
            </div>

            <div id="iten-3" class="col-md-3">
                <img src="assets/midias/psp5.jpg" alt="psp5" width="80%" height="200">
                <h4>Playstaion 5</h4>
                <p><b> 5.999,99</b></p>
                <div id="botaocarrinho">
                    <button mat-raised-button color="warn"><i class="fas fa-shopping-cart"></i>Carrinho</button>
                </div>
            </div>

            <div id="iten-4" class="col-md-3">
                <img src="assets/midias/mouse.png" alt="mouse e teclado" width="80%" height="200">
                <h4>Mouse e teclado gamer</h4>
                <p><b>R$ 249,99</b></p>
                <div id="botaocarrinho">
                    <button mat-raised-button color="warn"><i class="fas fa-shopping-cart"></i>Carrinho</button>
                </div>
            </div>
        </div>

    </section>
    <!--fim da seção produtos-->
    <br><br><br>

    <!--mais vendidos-->
    <h2><i class="fas fa-camera-retro"></i>Galeria - Mais vendidos</h2>
    <br><br><br>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/midias/img1.jpg" alt="" width="60%" height="150">
            </div>
            <div class="col-md-4">
                <img src="assets/midias/img2.jpg" alt="" width="60%" height="150">
            </div>
            <div class="col-md-4">
                <img src="assets/midias/img3.jpg" alt="" width="60%" height="160">
            </div>
        </div>
        <div class="row" id="botaoexplorar">
            <div class="col-md-12">
                <button mat-raised-button color="warn">Explorar</button>
            </div>
        </div>
    </div>

    <br><br><br>

    <!--mais desejados-->

    <h2><i class="fas fa-camera-retro"></i>Galeria - Mais Procurados</h2>
    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/midias/img4.jpg" alt="" width="70%" height="200">
            </div>
            <div class="col-md-4">
                <img src="assets/midias/img5.jpg" alt="" width="60%" height="150">
            </div>
            <div class="col-md-4">
                <img src="assets/midias/img6.jpg" alt="" width="60%" height="160">
            </div>
        </div>
        <div class="row" id="botaoexplorar">
            <div class="col-md-12">
                <button mat-raised-button color="warn">Explorar</button>
            </div>
        </div>
    </div>

    <br><br><br>

    <!--Novidades-->
    <h2><i class="fas fa-grin-stars"></i>Novidades</h2>

    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/midias/img7.jpg" alt="" width="70%" height="200">
            </div>
            <div class="col-md-4">
                <img src="assets/midias/img8.jpg" alt="" width="80%" height="200">
            </div>
            <div class="col-md-4">
                <img src="assets/midias/img9.jpg" alt="" width="80%" height="200">
            </div>
        </div>
        <div class="row" id="botaoexplorar">
            <div class="col-md-12">
                <button mat-raised-button color="warn">Explorar</button>
            </div>
        </div>
    </div>

    <br><br><br>

</body>

<router-outlet>
    <app-footer></app-footer>
</router-outlet>
