.container logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 60%;
}

.logo {
    background-position: center;
    width: 50%;
    height: 50;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 60%;
    text-decoration: underline black;
    font-size: 75px;
}

#missao {
    text-align: center;
    font-family: 'roboto', sans-serif 100px;
    color: black;
    font-weight: 80%;
    font-size: 25px;
}

.missao {
    border: black solid 2px;
    display: flexbox;
}

h2 {
    text-align: center;
    background-color: rgba(219, 230, 245);
    font-family: 'Roboto', sans-serif 50px;
    color: blue;
}

#iten-1 h4 {
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-1 p {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-2 h4 {
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-2 p {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-3 h4 {
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-3 p {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-4 h4 {
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#iten-4 p {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

#botaocarrinho {
    text-align: center;
}

#botaoexplorar {
    text-align: center;
}

#botao {
    background-color: red !important;
    color: white !important
}
